
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  line-height:1.5em;
  font-size:14px; 
  color: #666666; 
  font-family: "Montserrat", sans-serif; 
  margin:0; 
  padding: 0; 
}
.top-section{
  width:100%; 
  background-image: url('../images/bg-2-mod.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 100%; 
	overflow: hidden;
}

.social-and-btns{
  width:100%; 
  height:auto; 
  position: relative; 
  display: flex; 
}


.social-and-btns-content{
  margin: 0; 
  padding: 1em 0.5em; 
  width:100%; 
  margin-left: auto; 
  margin-right:auto;  
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.social-links{
  margin:0; 
  padding: 0; 
  list-style-type: none; 
  display: flex; 
  font-size: 1em;
}

.social-links li{
  margin-right:0.5em;
}

.links{
  cursor:pointer; 
  border:2px solid #61892F; 
  color:#d9d9d9; 
  padding:3px 6px; 
  width:20px;
  height:20px;
  border-radius: 50%; 
  
  -webkit-transition: .15s color; 
  -o-transition: .15s color; 
  transition: .15s color;
}

.pinterest{
  padding:3px 8px; 
}

.links:hover{ 
  color:#f2f2f2;
}


.fa-rss:hover,
.fa-rss-square:hover 
{
  color: #e06618;
}

.fa-twitch:hover 
{
  color: #5c43a1;
}

.fa-reddit:hover, 
.fa-reddit-square:hover,
.fa-reddit-alien:hover
{
  color:#ff5700;
}
.steam-edit:hover{ 
color:#2a475e;
}

.fa-discord:hover{ 
color:#7289da;
}

.fa-facebook:hover,
.fa-facebook-f:hover 
{
  color: #3b5998;
}

.fa-google-plus:hover{ 
  color: #df4a32;
}

.fa-twitter:hover{ 
  color: #00b6f1;
}

.fa-pinterest-p:hover{ 
  color: #cb2027;
}


.top-section-btns{
  background-color: transparent; 
  border: 1px solid #86C232;
  margin-left:1em;
  color: #f6e3d5;
  font-weight: bold; 
  padding: 12px 25px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 15px;
  font-family: "Montserrat", sans-serif; 
  cursor: pointer;
  -webkit-transition: .25s color;
  -o-transition:  .25s color;
  transition: .25s color;
}

.join-btn{
  margin-left:0;
}


.top-section-btns:hover{
  color: #86C232;
}

.main-nav{
  width:100%;
  padding:0.5em 1.5em;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s background-color;
  -o-transition: .3s background-color;
  transition: .3s background-color;
  z-index: 1000; 
  display:flex;
}

#nav-content{
  margin:auto;
  display:flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.main-nav img{
  width:60px;
  height:60px;
  display:block; 
}

.logo-text{
  margin-left:0.5em;
  display: flex;
  flex-flow: column; 
  align-items: flex-start; 
  flex-grow: 1; 
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight:800; 
  font-size:1.7em;
  letter-spacing: 0.01em; 
  color: #cccccc;
}

.logo-edit{
  color:#86C232;
}

#smaller-logo-text{
  font-size: 0.7em;
}

.main-ul{
  list-style-type: none;
}

.main-ul li{
  display:inline-block;
  margin-right:3em;
  position: relative;
}


.main-ul li ul{
  position: absolute; 
  padding:9px 5px;
  left:0;
  top:23px;
  background:RGBA(0,0,0,0.83); 
  display: none;
  border-bottom: 3px solid #86C232;
  z-index:1;
}

.main-ul li.active ul{
  display: block;
}


.main-ul li ul li{
  display: block;
  position: relative;
  text-align: -webkit-match-parent;
  min-width:200px;
  padding-bottom:10px;
  padding-top:10px;
}

.main-ul li ul li a{
  left:0;
  margin-bottom:5px;
}

.main-ul li:last-child{
  margin-right:0;
}

.main-ul li .active{ 
    color: #86C232;
}

.main-ul li a{
    font-family: "Montserrat", sans-serif; 
    font-weight: 600;
    color:#e6e6e6;
    font-size:110%;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .25s color;
    -o-transition: .25s color;
    transition: .25s color;
}

.main-nav ul li a:hover,
.main-nav ul li a.active{
  color: #86C232;
}

.middle-section{
  width:100%;
  height:auto;
  background-color: #222629;
}

.menu-toggle i{
  font-size: 2em;
  cursor: pointer;
  color:#7d8082;
  -webkit-transition: .25s color;
  -o-transition: .25s color;
  transition: .25s color;
}

.menu-toggle i:hover{
  color: #86C232;
}

.slider-section{
  width:100%;
  top:2em;
  position: relative;
  height:20em;
  display:flex;
  justify-content: center;
}


.slider-content{
  background: url("../images/slider-img2.jpg") no-repeat center center; 
	display:block;
  background-size: cover; 
  width:95%;
  border-bottom:3px solid #61892F;
}

.slider-container{
  width:100%;
}

.offer-container{
  margin-top:5em;
}

.what-we-offer-heading-wrap{
  position: relative;
  width:94%;
  height:1.7em;
  margin: 0 auto;
  border-left:7px solid #61892F;
}

.what-we-offer-heading-wrap h2{
  margin-top: 0;
  padding-top:2px;
  padding-left:0.4em;
  font-family: "Montserrat", sans-serif; 
  font-weight: 600;
  color:#e6e6e6;
  font-size:150%;
  text-transform: uppercase; 
}

.what-we-offer-content{
  position: relative;
  top:1em;
  width:94%;
  display:flex;
  flex-flow: column;
  align-items: center;
  left:3%;
}

.offers{
  width:100%;
  display: flex;
  padding:0;
  border-radius: 4px;
  margin-bottom:1em;
  background-color: #303336;
}

.offer-icon-wrap{
  display: flex;
  min-width:7em;
  justify-content: center; 
  align-items: center; 
  border-right: 1px solid #61892F;
}

.offer-icon-wrap i{
  color: #b3b3b3;
  font-size:4em;
}

.offer-text-wrap{
  display: flex;
  align-items: center;
  text-align: justify; 
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
}

.offer-text-wrap p{
  font-family: "Montserrat", sans-serif; 
  font-weight: 600;
  color:#b3b3b3;
  font-size:120%;
}

.section-separate{
  margin:0;
  display: flex;
}

.page-content{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #222629;
  height:100%;
}

.sub-heading{
  margin-top: 2em;
  width: 94%;
}

.sub-heading h2{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 800;
  color:#e6e6e6;
  font-size:150%;
  color:#3d4043;
}

.intro{
  margin-top:2em;
  width:94%;
  height:auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden; 
  background-color: #303336;
}


.intro-img img{
  display: block;
  width:100%;
  height: 20em;
}

.intro-text{
  padding:15px;
}

.intro-text h2{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  font-size:170%; 
  color:#e6e6e6;
}

.intro-text p{
  font-family: 'Montserrat', sans-serif; 
  color:#bfbfbf;
}


.section-separate span
{
    color:#e6e6e6;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    -ms-flex: auto; 
    flex: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.gallery-after-before::after, 
.gallery-after-before::before
{
	color:#808080;
}

.section-separate::after,
.section-separate::before
{
  content: "";
  display: block;
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
  border-bottom: 4px solid ;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.section-separate::before
{
  -webkit-box-flex: 20px;
  -ms-flex: 20px;
  flex: 20px;
  width: 20px;
  min-width: 20px;
}

.section-separate-text{
  color:  #86C232 !important;
}

.news-section{
  margin-top:2em;
  background-color: #303336;
  width:94%;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}

.news-section h2{
  font-size: 1.5em;
}

.news-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #61892F !important;
  padding:0;
  cursor: pointer;
}


.news-container:hover{
  background-color: #61892F;
}

.news-img{
  display: flex;
  align-items: center;
	flex-grow: 1;
  margin:0;
	min-height: 8em;
}

.news-img img{
  margin-top:13px;
  
  display: block;
  width:13em;
  height: 8em;
}

.news-text{
  display: flex;
  flex-flow: column;
  justify-content:flex-start;
  padding-top: 10px;
  padding-left:25px;
  height:8em;
}

.news-text h2{
  margin-top:0;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  font-size:100%;
  color:#e6e6e6;
}

.news-text p{
  margin-top:0;
  font-family: 'Montserrat', sans-serif; 
  color:#bfbfbf;

}

.news-container-large{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.news-img-large img{
  width:100%;
}

.news-container-large h2{
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  color:#e6e6e6;
}

.news-container-large p{
  color:#bfbfbf;
}

.news-container-text-large{
padding:15px;
}

.btn-date{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:1em;
}

.btn-date i{
  font-size: 1.5em;
  color:#86C232;
}

.btn-date p{
  display: inline-block;
  margin-left:5px;
  color:#86C232;
}

.latest-matches-section{
  width:94%;
  margin-top:2em;
  left:0;
  margin-bottom:5em;
}

.match-box{
  border-radius: 0; 
  display: flex;
  justify-content: space-between;
}

.team-logo{
  display: flex;
  align-items: center;
}

.match-box i{
  font-size: 4em;
  padding-left:15px;
  padding-right:15px;
}


.match-box .score{
  font-style: italic;
  font-size:1.7em;
  color: #ffffff;
}

.fas,.fab{
  color:#a6a6a6;
}

.fa-plus{
  color: #e6e6e6;
}

.fa-plus:hover{
  color:#86C232;
}

.match-box h2{
  padding:20px 0;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  color:#b3b3b3;
  font-size: 1.2em;
}

footer{
	width:100%;
  height:20em;
  background-image: linear-gradient(RGBA(34,38,41,0.73), RGBA(34,38,41,0.73) ), url("../images/footer-img.jpg"); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}

.footer-phone-email{
	margin-top:0.5em;
	display:flex;
	flex-flow:column;
	align-items:center;
}

footer hr{
	width:100px;
	margin:auto;
	margin-top:1.5em;
	border: 1px solid #86C232;
}

footer h2{
	margin:0;
	font-size: 1.1em;
}

footer h3,footer h2, footer p{
	    color: #b3b3b3;
}

footer p{
	font-size: 0.9em;
	line-height: 0.5;
}

.fa-globe{
	display:flex;
	justify-content:center;
	margin-bottom:10px;
	font-size: 3em;
	color:#86C232;
}

.footer-links{
	display: flex;
	justify-content:center;
}


.footer-social-links li{
	list-style: none;
	display: inline-block;
	padding-right: 5px;
}

.footer-social-links i{
	font-size: 1.4em;
}

.footer-social-links:last-child{
	padding:0;
}

.footer-text{
	text-align: center;
	padding-top:0.5em;
}

footer h3{
	font-size:1.3em;
}



.live-stream-content{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.live-stream-heading{
	font-size: 200% !important;
}

.live-stream-heading::after,
.live-stream-heading::before{
	border-bottom: 4px solid #86c232;
}


.live-match{
	margin-top:3em;
	display: flex;
	flex-flow: column;
	width:94%;
}

.score-label{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.score-label span{
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	background-color: #61892F;
	border-radius:4px;
	font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  color:#ffffff;
}

#losing{
	background-color: red;
}

#winning{
	background-color: #86C232;
}

#draw{
	background-color: #222629;
}

.twitch{
	display: flex;
	justify-content: center;
}

.match-margin{
	margin-bottom: 0;
}

#twitch-player{
	
	display:block;
	width:100%;
	font-weight:normal;
	font-size:10px;
}

.about-match{
	width:94%;
}

.about-match h2{
	color: #e6e6e6;
}

.about-match p{
	color: #bfbfbf;
}

.share-stream{
	display: flex;
	position: relative;
	width:94%;
	padding:0 10px;
	align-items: center;
	justify-content: space-between;
	background-color: #2e3438;
}

.share-stream h2{
	color: #e6e6e6;
	font-size: 1.1em;
}


.links-live{
	border:0;
}


.links-live i{
	font-size: 1.5em;
}

.latest-matches{
	width: 94%;
}



.gallery-page{
	background-attachment: fixed; 
	padding-bottom:5em;
}

.gallery-content{
	width:94%;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin:auto;
}

.gallery-heading{
	font-size: 200% !important;
}

.gallery-sub-heading h2{
	font-size:120%;
}

.gallery-sub-heading{
	width: 100%;
	margin-bottom:2em;
}

.gallery-img,
.gallery-screenshot
 {
	overflow: hidden;
	height: 250px;
	flex-grow: 1;
	margin:0 0 8px 8px;
}

.gallery-img:nth-child(4n+1) { 
     flex-basis: 250px; 
}
.gallery-img:nth-child(4n+2) { 
     flex-basis: 325px;
}
.gallery-img:nth-child(4n+3) { 
     flex-basis: 220px;
}
.gallery-img:nth-child(4n+4) { 
     flex-basis: 380px;
}

.gallery-screenshot:nth-child(4n+1) {
     flex-basis: 430px;
}
.gallery-screenshot:nth-child(4n+2) {
     flex-basis: 210px;
}
.gallery-screenshot:nth-child(4n+3) {
     flex-basis: 270px;
}
.gallery-screenshot:nth-child(4n+4) {
     flex-basis: 300px;
}

.gallery-img img,
.gallery-screenshot img
 {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover; 
	transition: 0.25s transform;
}

.gallery-img img:hover, 
.gallery-screenshot img:hover{
	transform:scale(1.03); 
	
}

.gallery{
	width: 94%;
	display: flex;
	flex-wrap: wrap;
	margin:auto;
}



.teams-wrap{
	display: flex;
	width:94%;
	flex-flow: column;
	margin:auto;
}

.logo-wrap{
	background-color:  #242629;
	height:100%;
	padding:1.5em;
}

.team-info{
	display: flex;
	flex-flow: column;
	margin-left:1em;
}

.team-info h3,.team-info h4{
	color:#e6e6e6;
	font-size: 0.9em;
	padding:0;
	margin: 0;
}

.team-info h2{
	font-size:1em;
	color:#e6e6e6;
}

.team-img{
	height:100px;
}

.team-img img{
	height:100%;
}

.main-content-area{
	width:100%;
}

.top-team-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:1em;
	padding:0 10px;
	background-color: #303336;
}

.top-team-box i{
	font-size: 2em;
}

.sidebar-right{
	margin-top:1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sidebar-content{
	background-color: #303336;
	width:100%;
	

}

.sidebar-match-info{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	background-color: #242629;
}

.sidebar-match-info p{
	margin:0;
	color:#a6a6a6;
	padding-bottom: 5px;
}

.sidebar-match{
	display: flex;
	align-items: center;
}

.sidebar-heading span{
	color:#e6e6e6;
}

.sidebar-heading{
	margin-left:15px;
}

#cancelled{
	background-color: RGBA(230,0,0,0.78);
}

.sidebar-match span{
	background-color: #6B6E70;
	padding:3px 12px;
	border-radius: 4px;
	color:white;
	font-weight: bold;
	margin-left: 3em;
	margin-right: 2em;
}

.sidebar-match h3{
padding-left: 2em;
padding-right: 2em;
}

.sidebar-match i{
	font-size: 3em;
}

.sidebar-match-info:nth-child(3){
	background-color: #303336;
}

.other-players{
	margin-top:2em;
	margin-bottom:3em;
}

.center{
	margin: 2em auto;
}

.players img{
	width:150px;
	height:90px;
}

.players{
	display: flex;
	align-items: center;
	margin-bottom:1em;
}

.players:last-child{
	margin-bottom:0;
}

.players span{
	padding-right:5px;
}

.players h3{
	font-size:0.8em;
	display: flex;
	padding-left:10px;
	flex-grow: 1;
	color:#bfbfbf;
}

.players i{
	padding-right:8px;
	font-size: 5em;
}

.players:nth-child(2n+1) {
  background-color: #242629;
}

.players:nth-child(2n+2){
	background-color: #404040;
}




.form-container {
  margin: 3em auto;
	width:94%;
	padding: 3em 0;
	background: rgba(0,0,0,0.4);
}

.form-container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: bold;
	color:#bfbfbf;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input[type=text], select,
.flex-outer li input[type=email],
.flex-outer li input[type=tel]
 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
	background-color: RGBA(34,38,41,0.85);
  border-radius: 4px;
  box-sizing: border-box;
	font-size:0.9em;
	outline:none;
	color:#d9d9d9;
	font-family: "Montserrat", sans-serif; 
}

.flex-outer li input[type=text]:focus,
.flex-outer li input[type=email]:focus,
.flex-outer li input[type=tel]:focus,
.flex-outer li textarea:focus,
.flex-outer li select:focus
{
	box-shadow: 0 0 1pt 1pt #86c232;
}

.flex-outer li input:focus::-webkit-input-placeholder { color:transparent; }
.flex-outer li input:focus:-moz-placeholder { color:transparent; } 
.flex-outer li input:focus::-moz-placeholder { color:transparent; } 
.flex-outer li input:focus:-ms-input-placeholder { color:transparent; } 

::placeholder{
	color:#d9d9d9;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li textarea,select{
	 border-radius: 4px;
	 color:#d9d9d9;
	 outline: none;
	 font-size:1em;
	 background-color: RGBA(34,38,41,0.85);
}

::selection{
  background: #d9d9d9;
}

.flex-outer li button {
  margin-left: auto;
  padding: 12px 25px;
  border: 1px solid #86C232;
  background-color: transparent;
  color: #f6e3d5;
  text-transform: uppercase;
  letter-spacing: .09em;
	cursor: pointer;
	font-size: 15px;
	font-family: "Montserrat", sans-serif; 
	-webkit-transition: .25s color;
	-o-transition:  .25s color;
	transition: .25s color;
}

.flex-outer li button:hover{
color: #86C232;
}

.flex-inner li {
  width: 100px;
}



.about-game-section{
	background-attachment:fixed;
	padding-bottom:2em;
	background-position-x:30%;
}

.about-game-content{
	width:94%;
	display: flex;
	flex-flow: column;
	margin: auto;
}


.about-game-content p{
	font-family: "Montserrat", sans-serif; 
	font-size: 15px;
	color:#bfbfbf;
	padding:20px;
}

.game-modes{
	line-height: 1.1;
}

.about-game-wrap-space{
	margin-top:1em;
}

.about-game-wrap{
	display: flex;
	flex-flow: column;
	margin-top:1em;
	margin-bottom:3em;
	width: 100%;
	background-color: RGBA(34,38,41,0.83);
}

.bg{
	background-image:linear-gradient(RGBA(34,38,41,0.54), RGBA(34,38,41,0.54) ),url("../images/about-game-img-new.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-position-x:60%;
}

.bg p{
	width:100%;
}

.top{
	margin-top:4em;
}

.about-game-text{
	padding:1em 10px 0 10px;
	line-height: 1.5;
}

.about-game-img{
}

.game-modes p{
	padding:5px;
}

.game-mode-img{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.about-game-img img{
	display: block;
	width:100%;
}



.main-image{
	width: 94%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height:20em;
	background-image:	linear-gradient(RGBA(34,38,41,0.37), RGBA(34,38,41,0.37) ), url("../images/main-img.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-image-layer{
	display: flex;
	flex-flow: column;
	align-items: center;
	background: rgba(0,0,0,0.6);
	width:100%;
}

.main-image-layer h2{
	color:#bac0c5;
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	margin:5px;
	font-size: 1.5em;
}

.about-us-text{
	margin-top:2em;
	margin-bottom: 2em;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

.fixed{
	background-position:10% center;
}

.about-us-text p{
	width:94%;
	font-size: 14px;
	line-height: 1.5;
	color:#acb3b9;
}

.about-us-text h2{
	font-size: 1em;
	color:#e3e6e8;
}



#get-in-touch{
	width: 94%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 5em auto 0 auto;
}

#get-in-touch-heading{
	background: linear-gradient(RGBA(23,26,28,0.7), RGBA(23,26,28,0.7) ),url("../images/get-in-touch.jpg");
	background-size: cover; 
  background-repeat: no-repeat;
	height:15em;
	width:100%;
	display: flex;
	align-items: center;
}

#form-margin {
	margin-top:0;
	border-top:2px solid #86c232;
}

.get-in-touch-inner{
background: rgba(0,0,0,0.3);
width: 100%;
text-align: center;
}

.get-in-touch-inner h2{
	font-size: 2em;
	color:#d5d9dc;
}

#get-in-touch-info{
	display: flex;
	flex-grow: 1;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background:RGBA(23,26,28,0.93);
	color:#c7cdd1;
}

#get-in-touch-info p{
	line-height: 0;
	font-weight: bold;
	font-size: 12px;
}

#get-in-touch-info h2{
	margin-bottom: 2px;
	font-weight: bold;
	font-size: 1.2em;
}

#get-in-touch-info i{
	padding-top: 5px;
	font-size: 2em;
}



.developers-info{
	width: 94%;
	margin: 5em auto;
	display: flex;
	flex-flow: column;
}

.dev-text{
	flex-grow: 1;
	background:linear-gradient(RGBA(23,26,28,0.84), RGBA(23,26,28,0.84) ), url("../images/dev-bg.jpg");
	background-size: cover; 
  background-repeat: no-repeat;
	background-position: center;
}

.dev-text h2,.dev-text h3{
	padding-left:20px;
	color:#d5d9dc;
}

.dev-text ul{
	
}

.dev-photo{
	width: 100%;
}

.dev-photo img{
	display: block;
	width: 100%;
}


@media screen and (min-width: 1119px)and (max-width: 1660px){


	.about-game-content p{
		font-family: "Montserrat", sans-serif; 
		font-size: 15px;
		color:#bfbfbf;
		padding:20px;
	}

	.game-modes{
		line-height: 1.1;
	}

	.about-game-wrap-space{
		margin-top:1em;
	}

	.about-game-wrap{
		display: flex;
		flex-flow: column;
		margin-top:1em;
		margin-bottom:3em;
		width: 100%;
		background-color: RGBA(34,38,41,0.83);
	}

	.about-game-img{
		width:100%;
	}


	.about-game-img img{
		display: block;
		width:100% !important;
		height:100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 1660px){
	.about-game-wrap{
		display: flex;
		flex-flow: row;
	}
}

@media screen and (min-width: 1119px)and (max-width: 1375px){

	.logo-edit{
	  color:#86C232;
	}

	#smaller-logo-text{
	  font-size: 0.7em;
	}

	.main-ul li{
	  margin-right:1em;
	}

	.main-ul li a{
	    font-size:90%;
	}

	.offer-icon-wrap i{
	  font-size:3em;
	}

	.offer-text-wrap{
	  padding-left:10px;
	}

	.offer-text-wrap p{
	  font-size:90%;
	}

}

@media screen and (min-width: 1119px)and (max-width: 1605px){
	.match-box i{
	  font-size: 0.5em;
	  padding-left:10px;
	  padding-right:10px;
	}


	.match-box .score{
	  font-size:1em;
	}

	.match-box h2{
	  font-size: 0.8em;
	}

	.latest-matches-section{
		width:100%;
	}

}


@media screen and (min-width: 320px)and (max-width: 1119px){

 .social-links{
  font-size: 0.8em;
}

.social-links li{
  margin-right:0.3em;
}


  .top-section{
    background-position-x: 28%; 
    background-position-y: center;
  }

  .logo-text{
    font-size: 1.3em;
  }

  .mobile-nav{
    position: absolute;
    width:100%;
    left:-100%;
    padding:0.2em 0;
    height: auto;
    background-color:rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: .5s;
  }

  .mobile-active{
    left:0;
  }

  .mobile-nav-ul{
    padding: 0;
    margin-top:0.5em;
    margin-bottom:-0.6em;
    list-style-type: none;
    height:100vh;
    background:#171a1c;
    display: block;
    text-align: center;
  }

  .mobile-nav ul li:first-child{
    padding-top: 15px;
  }

  .mobile-nav ul li{
    padding:0.5em;
    margin-bottom:1em;
    border-bottom:1px solid RGBA(71,75,79,0.69);
  }

  .mobile-nav ul li ul{
    position: absolute;
    padding:0;
    top:10px;
    width:100%;
    background:#22272a;
    display: none;
    border:0;
    z-index:1;
  }

  .mobile-nav ul li ul li{
    width: 100%;
  }

  .mobile-nav-ul li.active ul{
    position: relative;
    display: block;
  }


  .main-ul li ul li a{
    left:0;
    margin-bottom:5px;
  }


  .mobile-nav ul li:last-child{
    border-bottom:0;
  }

  .main-ul{
    display:none;
  }

  .mobile-nav-ul li a{
      font-family: "Montserrat", sans-serif; 
      font-weight: 600;
      color:#e6e6e6;
      font-size:110%;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: .25s color;
      -o-transition: .25s color;
      transition: .25s color;
  }

  .mobile-nav-ul li a:hover{
    color: #86C232;
  }

  .mobile-nav-ul li a:last-child{
    border-bottom: 0;
  }

  .top-section-btns{
    padding: 6px 11px;
    font-size: 15px;
		margin-left:5px;
  }

	.intro-img img{
		height:100%;
		width:100%;
	}

	.news-text{
		width:100%;
	}


	.intro-text p{
	  font-family: 'Montserrat', sans-serif; 
	  color:#bfbfbf;
	}


	.desktop-news{
		width:100%;
	}
	.news-container{
		width:100%;
		justify-content: flex-start;
	}


.latest-screenshots{
	display: none;
}

.flex-outer li label,
.flex-outer li p {
	font-size: 0.8em;
}

.flex-outer{
	padding-right: 20px;
}
}


@media screen and (min-width: 1120px){

  .social-and-btns-content{
    padding: 1em 0;
    width:73.5%;
  }

  .menu-toggle{
    display: none;
  }


.mobile-nav{
  display: none;
}

.main-nav{
  padding:0.5em 5em;
}

.main-nav img{
  width:100px;
  height:100px;
  display:block;
}

.slider-section{
  height:30em;
}

.slider-content{
  width:74%;
}

#nav-content{
  width:80%;
}

.what-we-offer-heading-wrap{
  width:74%;
}

.what-we-offer-content{
  width:74%;
  display:flex;
  flex-flow: row;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  left:0;
}

.offers{
  width:32%;
}

.match-box{
  width:32%;
}

.sub-heading{
  width: 74%;
}

.intro{
  width:74%;
  margin-top:2em;
  height:auto;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  background-color: #303336;
}

.intro-img{
  flex-grow: 2;
}

.intro-img img{
  display: block;
  width:35em;
  height:auto;
}

.news-section{
  width:74%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.news-section h2{
  font-size: 1.5em;
}

.news-container{
  width:50%;
}

.news-container:last-child{
  border-bottom:0;
}

.desktop-news{
  display: flex;
  flex-wrap: wrap;
}

.news-img{
  display: flex;
  align-items: flex-start;
}

.news-text{
  padding-top:15px;
  padding-left:15px;
}

.news-img img{
  margin:0;
  display: block;
  width:12em;
  height: 8em;
}

.news-text h2{
  margin-top:0;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  font-size:120%;
  color:#e6e6e6;
}

.latest-matches-section{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  width:74%;
}

.match-box i{
  font-size: 5em;
  padding-left:10px;
  padding-right:10px;
}

.match-box{
  border-radius: 0;
}

footer h2{
	margin:0;
	font-size: 1.5em;
	padding-bottom:5px;
}

footer p{
	font-size: 1em;
	line-height: 0;
}

.fa-globe{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 3.5em;
}


.footer-social-links i{
	font-size: 1.5em;
}

footer h3{
	font-size:1.5em;
}


.live-stream-content{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.live-stream-heading{
	font-size: 200% !important;
}

.live-stream-heading::after,
.live-stream-heading::before{
	border-bottom: 4px solid #86c232;
}


.live-match{
	margin-top:3em;
	display: flex;
	flex-flow: column;
	width:55%;
}

.now-playing{
	width: 100%;
}

#losing{
	background-color: red;
}

#winning{
	background-color: #86C232;
}

#draw{
	background-color: #222629;
}

.about-match{
	width:55%;
	padding:0 10px;
	background-color: RGBA(34,38,41,0.9);
}


.share-stream{
	width:55%;
	padding:0 10px;
}

.live-sub-heading{
	width:55%;
}

.links-live{
	border:0;
}

.links-live i{
	font-size: 1.5em;
}

.latest-matches{
	width: 55%;
}

.gallery-content{
	width:74%;
}

.gallery-sub-heading{
	width:100%;
	margin-bottom:2em;
}

.gallery-sub-heading h2{
	font-size:150%;
}

.gallery{
	width: 74%;
	display: flex;
	flex-wrap: wrap;
	margin:auto;
}




.teams-wrap{
	display: flex;
	flex-flow: row;
	width:74%;
	margin:auto;
}

.team-img{
	height:150px;
}

.top-team-box{
	padding: 0 20px;
}

.team-info h3,.team-info h4{
	font-size: 1em;
}

.team-info h2{
	font-size:1.5em;
}

.top-team-box i{
	font-size: 4em;
}

.sidebar-right{
	padding-left:2em;
}

.players img{
	width:150px;
	height:90px;
}

.players h3{
	font-size:0.8em;
	display: flex;
	padding-left:10px;
	flex-grow: 1;
}

.players i{
	padding-right:8px;
	font-size: 5em;
}

.form-container {
  margin: 3em auto;
	width:74%;
	padding: 3em 0;
	background: rgba(0,0,0,0.4);
}

.flex-outer li label,
.flex-outer li p {
	font-size: 1em;
}



.about-game-content{
	width:74%;
}


.about-game-img img{
	width:40em;
}

.about-game-text{
	padding:2em 20px 0 20px;
	line-height: 1.5;
}

.bg p{
	width:70%;
}

.bg{
	background-position-x:50%;
}



.main-image{
	width: 74%;
	height:40em;
	background-position: center;
	background-size: cover;
}

.main-image-layer h2{
	letter-spacing: 2px;
	margin:20px;
	font-size: 3.5em;
}

.about-us-text{
	margin-top:5em;
	margin-bottom: 5em;
}

.about-us-text p{
	width:50%;
	font-size: 16px;
	line-height: 1.5;
}

.about-us-text h2{
	font-size: 2.5em;
}




.developers-info{
	width: 74%;
	flex-flow: row;
}

.dev-text{
	flex-grow: 1;
}

.dev-photo{
	width: 45%;
}






}

@media screen and (min-width: 750px){
	#get-in-touch{
		width: 94%;
		display: flex;
		flex-flow: row;
		margin: 5em auto 0 auto;
	}

	#get-in-touch-heading{
		height:25em;
		width:60%;
	}

	.get-in-touch-inner h2{
		font-size: 3em;
		color:#d5d9dc;
	}

	#get-in-touch-info p{
		font-size: 15px;
	}


	#get-in-touch-info h2{
		font-size: 1.4em;
	}

	#get-in-touch-info i{
		font-size: 3.5em;
	}

}

@media screen and (min-width: 1119px){
	#get-in-touch{
		width: 74%;
	}

}
